.navbar {
  background-color: #f4f6fa;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: background 0.3s ease-in-out;
}

.internal {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  margin: 1.5rem 1rem;
  font-weight: bold;
  color: #3b82f6;
  cursor: pointer;
}

.elements {
  display: flex;
}

.elements_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.elements_type {
  color: #0e6fdf;

  margin: 1.7rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  color: #2d2e32;
  transition: color 0.3s ease-in-out;
}

.elements_type::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #6c9ff0, #0e6fdf);
  transition: width 0.3s ease-in-out;
}

.elements_type:hover::after {
  width: 100%;
}

.color_mode {
  font-size: 2rem;
  margin: 1.7rem 1rem;
  cursor: pointer;
  color: #3b82f6;
  transition: transform 0.3s ease-in-out;
}

.color_mode:hover {
  transform: scale(1.3);
}

.dark {
  background-color: #121212;
  color: white;
}

.dark .navbar {
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark .elements_type {
  color: white;
}

.dark .color_mode {
  color: white;
}

.menu_bar {
  display: none;
}
.elements_type:hover {
  color: #0e6fdf;
  font-weight: bold;
}
@media (max-width: 800px) {
  .elements_list {
    display: none;
  }
  .menu_bar {
    display: block;
    font-size: 2rem;
    margin: 1.7rem 1rem;
    cursor: pointer;
  }
}
