/* Default Sidebar Styles */
.sidebar {
  position: fixed;
  top: 5.4rem;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.sidebar.open {
  transform: translateY(0);
}

/* Dark Mode Sidebar */
.sidebar.dark-mode {
  background-color: #121212;
}

.sidebar.dark-mode .nav-links {
  color: #ffffff;
}

.sidebar.dark-mode .nav-links.active {
  background: linear-gradient(90deg, #036096, #09a0f7);
  color: #ffffff;
}

/* Sidebar Links */
.sidebar-links {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-links .nav-links {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}

.sidebar-links .nav-links:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.names {
  margin: 0 0;
  padding-left: 20px;
}

/* Dark Mode for Links */
.sidebar.dark-mode .nav-links {
  color: white;
}

.sidebar.dark-mode .nav-links:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
